# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

JLinkLog.txt
JLinkLog.txt
.o
.d
.map
.lst
.lnp
.dep
*.o
*.d
UVBuild/web_pot_XMC4500-F100x1024.dep
*.map
Web/web.c
Web/web.c
UVBuild/web_pot.lnp
UVBuild/web_pot.htm
UVBuild/web_pot.build_log.htm
UVBuild/web_pot.axf
UVBuild/web.crf
UVBuild/web.crf
startup_xmc4500.lst
UVBuild/web.crf
Web/web.c
JLinkLog.txt
UVBuild/web.crf
Web/web.c
JLinkLog.txt
*.crf
RTE/RTE_Components.h
