package Model.APPS.GLOBAL_SCU_XMC4.v4_0_0.Templates;

import Model.APPS.GLOBAL_SCU_XMC4.v4_0_0.GLOBAL_SCU_XMC4

out.print("""
/*******************************************************************************
**                                                                            **
** Copyright (C) 2015 Infineon Technologies AG. All rights reserved.          **
**                                                                            **
** Infineon Technologies AG (Infineon) is supplying this software for use     **
** with Infineon's microcontrollers.                                          **
** This file can be freely distributed within development tools that are      **
** supporting such microcontrollers.                                          **
**                                                                            **
** THIS SOFTWARE IS PROVIDED "AS IS". NO WARRANTIES, WHETHER EXPRESS,IMPLIED  **
** OR STATUTORY, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF         **
** MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE APPLY TO THIS         **
** SOFTWARE. INFINEON SHALL NOT, IN ANY CIRCUMSTANCES, BE LIABLE FOR          **
** SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGES, FOR ANY REASON WHATSOEVER.  **
**                                                                            **
********************************************************************************
**                                                                            **
**                                                                            **
** PLATFORM : Infineon XMC4000 Series                                         **
**                                                                            **
** COMPILER : Compiler Independent                                            **
**                                                                            **
** AUTHOR   : APP Developer                                                   **
**                                                                            **
** NOTE     : Any Changes made to this file will be overwritten during Code   **
**            Generation                                                      **
**                                                                            **
**                                                                            **
*******************************************************************************/

/**
* @file global_scu_xmc4_extern.h <br>
* @date 16 Feb, 2015 <br>
* @version 4.0.0 <br>
*
* @brief Extern declarations<br>
*
* <b>Detailed description of file</b> <br>
* This file contains the extern handle declarations
*
* History
*
* Version 4.0.0 Initial version
*
*/
#ifndef GLOBAL_SCU_XMC4_EXTERN_H
#define GLOBAL_SCU_XMC4_EXTERN_H

#ifdef __cplusplus
extern "C" {
#endif

""");

String appInst  = null;

for (Object appIns : appInstancesList )
{
	appInst = appIns.getInstanceLabel()
out.print("""extern GLOBAL_SCU_XMC4_t ${appInst};""");

}
out.print("""
#ifdef __cplusplus
}
#endif
	
#endif  /* ifndef GLOBAL_SCU_XMC4_EXTERN_H */
""");
