package Model.APPS.RTC.v4_0_1.Templates;

import Model.APPS.RTC.v4_0_1.RTC

out.print("""
/*******************************************************************************
**                                                                            **
** Copyright (C) 2015 Infineon Technologies AG. All rights reserved.          **
**                                                                            **
** Infineon Technologies AG (Infineon) is supplying this software for use     **
** with Infineon's microcontrollers.                                          **
** This file can be freely distributed within development tools that are      **
** supporting such microcontrollers.                                          **
**                                                                            **
** THIS SOFTWARE IS PROVIDED "AS IS". NO WARRANTIES, WHETHER EXPRESS,IMPLIED  **
** OR STATUTORY, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF         **
** MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE APPLY TO THIS         **
** SOFTWARE. INFINEON SHALL NOT, IN ANY CIRCUMSTANCES, BE LIABLE FOR          **
** SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGES, FOR ANY REASON WHATSOEVER.  **
**                                                                            **
********************************************************************************
**                                                                            **
**                                                                            **
** PLATFORM : Infineon XMC4000/XMC1000 Series                                 **
**                                                                            **
** COMPILER : Compiler Independent                                            **
**                                                                            **
** AUTHOR   : APP Developer                                                   **
**                                                                            **
** NOTE     : Any Changes made to this file will be overwritten during Code   **
**            Generation                                                      **
**                                                                            **
**                                                                            **
*******************************************************************************/


/*******************************************************************************
** Version History:                                                           **
********************************************************************************
** v4.0.0    16 Feb 2015  Initial version                                     **
*******************************************************************************/
/**
 *
 * @file rtc_conf.h
 *
 *
 *
 * @brief Real Time Clock APP implementation configuration file.
 *        This file contains other dependent fle inclusions and
 *        macros.
 *
*/

#ifndef RTC_CONF_H
#define RTC_CONF_H

#ifdef __cplusplus
extern "C" {
#endif
/*****************************************************************************
 ** @Project Includes:                                                      **
 *****************************************************************************/
""");

String appInst  = null;
out.print("""
#define RTC_MAJOR_VERSION ${(RTC.version).findAll( /\d+/ )*.toInteger()[0]}U
#define RTC_MINOR_VERSION ${(RTC.version).findAll( /\d+/ )*.toInteger()[1]}U
#define RTC_PATCH_VERSION ${(RTC.version).findAll( /\d+/ )*.toInteger()[2]}U
""");
out.print("""\n""");

for (Object appIns : appInstancesList )
{
	appInst = appIns.getInstanceLabel()
	
if(((appIns.gcombo_eventtrigger_timer.value == "SCU Interrupt") &&
	((appIns.gcheck_pdays.value == true || appIns.gcheck_pmonths.value == true || appIns.gcheck_pyears.value == true ||
	 appIns.gcheck_phours.value == true || appIns.gcheck_pmins.value == true || appIns.gcheck_psecs.value == true ))) ||
	(appIns.gcheck_alarm_enable.value == true))
{
out.print("""\n
#if (UC_FAMILY == XMC4)
#include "GLOBAL_SCU_XMC4/global_scu_xmc4.h"
#else
#include "GLOBAL_SCU_XMC1/global_scu_xmc1.h"
#endif
#define RTC_INTERRUPT_ENABLED  1
""");
}
else
{
out.print("""
#define RTC_INTERRUPT_ENABLED  0 """);
}
	
/* Define used for Timer event trigger to SCU interrupt Enabled */
if ((appIns.gcombo_eventtrigger_timer.value == "SCU Interrupt") ||
	(appIns.gcombo_eventtrigger_alarm.value == "SCU Interrupt"))
{
out.print("""
#define RTC_EVENTTRIGTOSCU
""");
} // end of if
out.print("""
#define DEFAULT_DIVIDERVALUE 0x7FFFU
""");


} // end of for loop
out.print("""
#ifdef __cplusplus
}
#endif

#endif  /* ifndef RTC_CONF_H */
""");